.box {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
}

.gengar {
    align-self:flex-end;
    padding: 5px;
    border: 2px solid rgb(207, 76, 142);
    border-radius: 6px;
}
.gengar:hover{
    background-color: rgb(176, 6, 255);
    border: 2px dashed rgb(92, 22, 86);
}

.alakazam {
     padding: 5px;
    border: 2px solid rgb(93, 114, 172);
    border-radius: 6px;
}
.alakazam:hover{
    background-color: rgb(224, 238, 146);
    border: 2px dashed rgb(117, 71, 106);
}

.haunter {
     padding: 5px;
    border: 2px solid rgb(93, 114, 172);
    border-radius: 6px;
}
.haunter:hover{
    background-color: rgb(121, 66, 158);
    border: 2px dashed rgb(0, 0, 0);
}
h1{
    color: white;
}