.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 19px;
}

.pidgey {
    background-color: rgb(224, 212, 194);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid rgb(90, 20, 55);
    border-radius: 6px;
}

.spearow{
    border: 2px solid rgb(207, 76, 142);
    border-radius: 6px;
    background-color: rgb(175, 240, 240);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


.rattata {
    border: 2px solid rgb(207, 76, 142);
    border-radius: 6px;
    background-color: aquamarine;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.ekans {
    border: 2px solid rgb(207, 76, 142);
    border-radius: 6px;
    background-color: azure;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
h1{
    color: white;
}