.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.oddish {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: span 2;
    border: 2px solid rgb(158, 200, 216);
    border-radius: 6px;
    background-color: rgb(186, 234, 243);
}

.vileplume {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 2px solid rgb(158, 200, 216);
    border-radius: 6px;
    background-color: rgb(240, 185, 237);
}

.gloom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid rgb(158, 200, 216);
    border-radius: 6px;
    background-color: rgb(224, 179, 171);
}
h1{
    color: white;
}